@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Poppins", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}
.skip-area {
  color: #000;
  margin: auto;
  max-width: 95%;
  text-align: center;
  width: 700px;
}
.banner-title {
  color: #2e3b4e;
}
.skip-text {
  color: #2c4bff;
}
@media screen and (max-width: 1024px) {
  .banner {
    flex-wrap: wrap;
  }
  .banner-img {
    margin-top: 20px;
  }
}

* {
  box-sizing: border-box;
}
